/* Styles used by the Most Used Content table */
.metrics-tbl {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.metrics-tbl a {
  color: inherit;
  text-decoration: none;
}

.rt-search {
  min-width: 525px;
}

@media (max-width: 575.98px) {
  .rt-search {
    width: 100%;
    min-width: auto;
  }
}

/* Bar chart styles */

.bar-cell {
  display: flex;
  align-items: center;
  width: 100%;
}

.number {
  font-family: "Fira Mono", Consolas, Monaco, monospace;
  white-space: pre;
  font-size: 0.84375rem;
}

.bar-chart {
  flex-grow: 1;
  margin-left: 0.375rem;
  height: 0.875rem;
}

.bar {
  height: 100%;
}

#visit_merge_window_text {
  margin-top: -10px;
}

/* App styles */

a.action-button {
  text-decoration: none;
  white-space: nowrap;
}

.shiny-spinner-output-container {
  height: 100% !important;
}

.sidebar hr {
  margin: 0.25rem 0;
}